<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SquashApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.SquashAnalyzer">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Player card links, the same ones iOS shares. Verified App Links
                 need website/.well-known/assetlinks.json (card sharing step 5);
                 until then Android offers "open with" for these. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="squashanalyzer.com" />
                <data android:host="www.squashanalyzer.com" />
                <data android:pathPrefix="/kaart" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="squashanalyzer" android:host="kaart" />
            </intent-filter>
        </activity>
    </application>

</manifest>
